body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
ul{list-style:none;
    display: flex;
    gap:20px;
    margin:0;
    padding:0;
    float:right;
}
h1 {
    margin:0;
}
.hero{
    padding: 80px 20 px;
}
.hero h4{
    color:red;
    margin-bottom: 40px;
    font size: 50px;
}
.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.hero p{
    max-width: 500px;
    margin-bottom: 20px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}
.left{
    width: 100%;
}
.right{
    width: 50%;
    text-align: right;
}
.right img{
    width: 300px;   /* adjust size */
}
/* About Section
.about {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 80px
}

/* Left Image */

.about {
    width:100%;
    display: flex   ;
}
.about-left {
    width: 50%;
}
.about-left img {
    width: 100%;
    border-radius: 20px;
}
/* Right Content */
.about-right {
    width: 50%;
    padding-left: 40px;
}

.about-right h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: red;
}

.about-right p {
    color: red(219, 32, 32);
    margin-bottom: 15px;
    line-height: 1.6;
}

.info p{
    margin.bottom: 8px;
}
body {
    background-color: rgb(32, 21, 73);   /*Dark blue */
    color: white;
}
font{
    fontsize: 30px;
}
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons i {
    font-size: 22px;
    margin-right: 15px;
    color: #ff4d4d;
    background: white;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.social-icons i:hover {
    background: #ff4d4d;
    color: white;
    transform: scale(1.2);
}

